!!!
%html
  %head
    %title eject web interface on grouper
  %body
    %h1 eject web on nexus 7
    %form{:method => 'post', :action => '/eject'}
      %input{:type => 'textfield', :name => 'dev', :placeholder => 'specify device to eject', :style => 'width: 20em'}
      %button{:type => 'submit', :value => 'eject'} Eject!!!
    %p= @status
